@import "tailwindcss";

:root {
  --background: #f8f9fa; /* very light background */
  --foreground: #003B73; /* deep blue for main text */
  --primary: #FF4C4C;    /* light teal */
  --secondary: #5AC8D8;  /* bright red */
  --accent: #A0E5D9;     /* soft accent color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}